<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a routerLink="/showrooms" [ngClass]="isActive('/showrooms')" aria-current="page">
              Showrooms
            </a>
            <a routerLink="/cars" [ngClass]="isActive('/cars')">
              Cars
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
